.socialMedia {
    
    padding: 50px;
    font-size: 15px;
    text-align: center;
    text-emphasis-color: white;
    background-color: #2196f3;   
  }
  .socialMedia .a
{

  margin-right: 30px; 
  margin-left: 30px;
}
  
 